USE [master]
GO
/****** Object:  Database [University]    Script Date: 15.03.2026 10:12:16 ******/
CREATE DATABASE [University]

GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [University].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [University]
GO
/****** Object:  Table [dbo].[Authorization]    Script Date: 15.03.2026 10:12:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Authorization](
	[Authorization_ID] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Authorization] PRIMARY KEY CLUSTERED 
(
	[Authorization_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 15.03.2026 10:12:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[Category_ID] [int] NOT NULL,
	[CategoryName] [nvarchar](50) NOT NULL,
	[Salary] [float] NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[Category_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cycle]    Script Date: 15.03.2026 10:12:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cycle](
	[Cycle_ID] [int] NOT NULL,
	[CycleName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Cycle] PRIMARY KEY CLUSTERED 
(
	[Cycle_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subject]    Script Date: 15.03.2026 10:12:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subject](
	[Subject_ID] [int] NOT NULL,
	[SubjectName] [nvarchar](100) NOT NULL,
	[Cycle_ID] [int] NULL,
	[HourseAmount] [float] NULL,
 CONSTRAINT [PK_Subject] PRIMARY KEY CLUSTERED 
(
	[Subject_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teachers]    Script Date: 15.03.2026 10:12:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teachers](
	[Teacher_ID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](50) NOT NULL,
	[Category_ID] [int] NULL,
	[Street] [nvarchar](50) NOT NULL,
	[House] [nvarchar](50) NOT NULL,
	[Apartament] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Teachers] PRIMARY KEY CLUSTERED 
(
	[Teacher_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Workload]    Script Date: 15.03.2026 10:12:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Workload](
	[Workload_ID] [int] IDENTITY(1,1) NOT NULL,
	[Teacher_ID] [int] NULL,
	[Subject_ID] [int] NULL,
 CONSTRAINT [PK_Workload] PRIMARY KEY CLUSTERED 
(
	[Workload_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Authorization] ON 

INSERT [dbo].[Authorization] ([Authorization_ID], [Login], [Password]) VALUES (1, N'qwerty', N'Qwerty1!')
SET IDENTITY_INSERT [dbo].[Authorization] OFF
GO
INSERT [dbo].[Category] ([Category_ID], [CategoryName], [Salary]) VALUES (1, N'Первая', 3960)
INSERT [dbo].[Category] ([Category_ID], [CategoryName], [Salary]) VALUES (2, N'Высшая', 4140)
INSERT [dbo].[Category] ([Category_ID], [CategoryName], [Salary]) VALUES (3, N'Вторая', 3780)
GO
INSERT [dbo].[Cycle] ([Cycle_ID], [CycleName]) VALUES (1, N'ОГСЭ')
INSERT [dbo].[Cycle] ([Cycle_ID], [CycleName]) VALUES (2, N'СД')
GO
INSERT [dbo].[Subject] ([Subject_ID], [SubjectName], [Cycle_ID], [HourseAmount]) VALUES (1, N'Иностранный язык', 1, 202)
INSERT [dbo].[Subject] ([Subject_ID], [SubjectName], [Cycle_ID], [HourseAmount]) VALUES (2, N'Информационные и коммуникационные технологии в образовании', 2, 98)
INSERT [dbo].[Subject] ([Subject_ID], [SubjectName], [Cycle_ID], [HourseAmount]) VALUES (3, N'Компьютерное моделирование', 2, 98)
GO
SET IDENTITY_INSERT [dbo].[Teachers] ON 

INSERT [dbo].[Teachers] ([Teacher_ID], [FullName], [Category_ID], [Street], [House], [Apartament]) VALUES (1, N'Костина В  В', 1, N'Хлыновская', N'51', N'20')
INSERT [dbo].[Teachers] ([Teacher_ID], [FullName], [Category_ID], [Street], [House], [Apartament]) VALUES (2, N'Семанов Ф  О', 2, N'Свободы', N'128', N'19')
INSERT [dbo].[Teachers] ([Teacher_ID], [FullName], [Category_ID], [Street], [House], [Apartament]) VALUES (3, N'Орлова Н  Н', 3, N'Озерная', N'11', N'65')
SET IDENTITY_INSERT [dbo].[Teachers] OFF
GO
SET IDENTITY_INSERT [dbo].[Workload] ON 

INSERT [dbo].[Workload] ([Workload_ID], [Teacher_ID], [Subject_ID]) VALUES (1, 1, 1)
INSERT [dbo].[Workload] ([Workload_ID], [Teacher_ID], [Subject_ID]) VALUES (2, 2, 2)
INSERT [dbo].[Workload] ([Workload_ID], [Teacher_ID], [Subject_ID]) VALUES (3, 3, 1)
SET IDENTITY_INSERT [dbo].[Workload] OFF
GO
ALTER TABLE [dbo].[Subject]  WITH CHECK ADD  CONSTRAINT [FK_Subject_Cycle] FOREIGN KEY([Cycle_ID])
REFERENCES [dbo].[Cycle] ([Cycle_ID])
GO
ALTER TABLE [dbo].[Subject] CHECK CONSTRAINT [FK_Subject_Cycle]
GO
ALTER TABLE [dbo].[Teachers]  WITH CHECK ADD  CONSTRAINT [FK_Teachers_Category] FOREIGN KEY([Category_ID])
REFERENCES [dbo].[Category] ([Category_ID])
GO
ALTER TABLE [dbo].[Teachers] CHECK CONSTRAINT [FK_Teachers_Category]
GO
ALTER TABLE [dbo].[Workload]  WITH CHECK ADD  CONSTRAINT [FK_Workload_Subject] FOREIGN KEY([Subject_ID])
REFERENCES [dbo].[Subject] ([Subject_ID])
GO
ALTER TABLE [dbo].[Workload] CHECK CONSTRAINT [FK_Workload_Subject]
GO
ALTER TABLE [dbo].[Workload]  WITH CHECK ADD  CONSTRAINT [FK_Workload_Teachers] FOREIGN KEY([Teacher_ID])
REFERENCES [dbo].[Teachers] ([Teacher_ID])
GO
ALTER TABLE [dbo].[Workload] CHECK CONSTRAINT [FK_Workload_Teachers]
GO
USE [master]
GO
